.head{
    color: blueviolet;
}
.button{
    color: rgb(236, 234, 230);
    padding: 10px;
    margin: 10px;
    background-color: darkcyan;
}
.button:hover{
    background-color: darkgray;
    font-size: large;
}
.maindiv{
    text-align: center;
    display: felx;

}
.labelfield{
    margin: 10px;
    color:darkgreen
}
.input1,.input2,.input3,.input4{
    margin: 10px;
    padding:10px;
    color:darkolivegreen;
}
.input1,.input2{
    margin-left: 47px;
}
.input3{
 margin-left: 80px;
}
.inputbutton{
    margin:5px;
    padding: 5px;
    width: 100px;
    font-size: 20px;
    color: rgb(236, 234, 230);
    background-color: darkcyan;
}
